*{
box-sizing:border-box;
}
.sp-scrollbar::-webkit-scrollbar {
    width: 1em;
}
 
.sp-scrollbar::-webkit-scrollbar-track {
	background-color:#aaa;
    //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.sp-scrollbar::-webkit-scrollbar-thumb {
  background-color: #333;
  outline: 1px solid #000;
}
.sp-btn {
min-width:80px;
text-align:center;
min-height:40px;
height:40px;
padding:5px;
font-weight:bold;
color: white;
border-radius:3px;
border:none;
line-height:30px;
}
.sp-btn.btn-green {
background-color:#2e7d32;
border-bottom:10px solid #1b5e20;
}
.sp-btn.btn-teal {
background-color:#009688;
border-bottom:10px solid #00695c;
}
.sp-btn.btn-indigo {
background-color:#3f51b5;
border-bottom:10px solid #1a237e;
}
.sp-btn.btn-red {
background-color:#f44336;
border-bottom:10px solid #c62828;
}
.sp-btn.btn-pink {
background-color:#e91e63;
border-bottom:10px solid #ad1457;
}
.sp-btn.btn-purple {
background-color:#9c27b0;
border-bottom:10px solid #6a1b9a;
}
.sp-btn.btn-deeppurple {
background-color:#673ab7;
border-bottom:10px solid #4527a0;
}
.sp-btn.btn-blue {
background-color:#2196f3;
border-bottom:10px solid #1565c0;
}
.sp-btn.btn-skyblue {
background-color:#039be5;
border-bottom:10px solid #0277bd;
}
.sp-btn.btn-orange {
background-color:#ef6c00;
border-bottom:10px solid #e65100;
}
.sp-btn.btn-brown {
background-color:#795548;
border-bottom:10px solid #4e342e;
}
.sp-btn.btn-bluegrey {
background-color:#607d8b;
border-bottom:10px solid #37474f;
}
.sp-btn.clickable:active {
transform:translateY(4px);
}
.btn-green.clickable:active{
border-bottom:6px;;
}
.btn-teal.clickable:active{
border-bottom:6px;;
}
.btn-indigo.clickable:active{
border-bottom:6px;;
}
.btn-red.clickable:active{
border-bottom:6px;;
}
.btn-pink.clickable:active{
border-bottom:6px;;
}
.btn-purple.clickable:active{
border-bottom:6px;;
}
.btn-deeppurple.clickable:active{
border-bottom:6px;;
}
.btn-blue.clickable:active{
border-bottom:6px;;
}
.btn-skyblue.clickable:active{
border-bottom:6px;;
}
.btn-orange.clickable:active{
border-bottom:6px;;
}
.btn-brown.clickable:active{
border-bottom:6px;;
}
.btn-bluegrey.clickable:active{
border-bottom:6px;;
}
.sp-ripple{
overflow:hidden!important;
position:relative!important;
}
.ripple {
transform:scale(0);
border-radius:50%;
background-color:rgba(255,255,255,0.7);
position:absolute;
animation:ripple 0.5s linear 1;
}
@keyframes ripple {
to{
transform:scale(2.5);
opacity:0;
}
}
.sp-badge{
position:relative;
margin:0;
margin-right:15px!important;
padding:0px;
padding-right:20px !important;
}
.sp-badge.badge-indigo:after {
height:15px;
width:15px;
font-size:12px;
content: attr(data-badge);
border-radius:50%;
position:absolute;
right:0;
top:0;
background:#3f51b5;
padding:0.2em;
color:#fff;
text-align:center;
line-height:15px;
overflow:hidden;
text-shadow:1px 1px 2px #333 , 2px 2px 2px #333;
}
.sp-badge.badge-green:after {
height:15px;
width:15px;
font-size:12px;
content: attr(data-badge);
border-radius:50%;
position:absolute;
right:0;
top:0;background:#2e7d32;
padding:0.2em;
color:#fff;
text-align:center;
line-height:13px;
overflow:hidden;
text-shadow:1px 1px 2px #333 , 2px 2px 2px #333;
}
.sp-badge.badge-teal:after {
height:15px;
width:15px;
font-size:12px;
content: attr(data-badge);
border-radius:50%;
position:absolute;
right:0;
top:0;background:#009688;
padding:0.2em;
color:#fff;
text-align:center;
line-height:13px;
overflow:hidden;
text-shadow:1px 1px 2px #333 , 2px 2px 2px #333;
}
.sp-badge.badge-red:after {
height:15px;
width:15px;
font-size:12px;
content: attr(data-badge);
border-radius:50%;
position:absolute;
right:0;
top:0;
background:#f44336;
padding:0.2em;
color:#fff;
text-align:center;
line-height:13px;
overflow:hidden;
text-shadow:1px 1px 2px #333 , 2px 2px 2px #333;
}
.sp-badge.badge-pink:after {
height:15px;
width:15px;
font-size:12px;
content: attr(data-badge);
border-radius:50%;
position:absolute;
right:0;
top:0;
background:#e91e63;
padding:0.2em;
color:#fff;
text-align:center;
line-height:13px;
overflow:hidden;
text-shadow:1px 1px 2px #333 , 2px 2px 2px #333;
}
.sp-badge.badge-purple:after {
height:15px;
width:15px;
font-size:12px;
content: attr(data-badge);
border-radius:50%;
position:absolute;
right:0;
top:0;
background:#9c27b0;
padding:0.2em;
color:#fff;
text-align:center;
line-height:13px;
overflow:hidden;
text-shadow:1px 1px 2px #333 , 2px 2px 2px #333;
}
.sp-badge.badge-deeppurple:after {
height:15px;
width:15px;
font-size:12px;
content: attr(data-badge);
border-radius:50%;
position:absolute;
right:0;
top:0;
background:#673ab7;
padding:0.2em;
color:#fff;
text-align:center;
line-height:13px;
overflow:hidden;
text-shadow:1px 1px 2px #333 , 2px 2px 2px #333;
}
.sp-badge.badge-blue:after {
height:15px;
width:15px;
font-size:12px;
content: attr(data-badge);
border-radius:50%;
position:absolute;
right:0;
top:0;
background:#2196f3;
padding:0.2em;
color:#fff;
text-align:center;
line-height:13px;
overflow:hidden;
text-shadow:1px 1px 2px #333 , 2px 2px 2px #333;
}
.sp-badge.badge-skyblue:after {
height:15px;
width:15px;
font-size:12px;
content: attr(data-badge);
border-radius:50%;
position:absolute;
right:0;
top:0;
background:#093be5;
padding:0.2em;
color:#fff;
text-align:center;
line-height:13px;
overflow:hidden;
text-shadow:1px 1px 2px #333 , 2px 2px 2px #333;
}
.sp-badge.badge-orange:after {
height:15px;
width:15px;
font-size:12px;
content: attr(data-badge);
border-radius:50%;
position:absolute;
right:0;
top:0;
background:#ef6c00;
padding:0.2em;
color:#fff;
text-align:center;
line-height:13px;
overflow:hidden;
text-shadow:1px 1px 2px #333 , 2px 2px 2px #333;
}
.sp-badge.badge-brown:after {
height:15px;
width:15px;
font-size:12px;
content: attr(data-badge);
border-radius:50%;
position:absolute;
right:0;
top:0;
background:#795548;
padding:0.2em;
color:#fff;
text-align:center;
line-height:13px;
overflow:hidden;
text-shadow:1px 1px 2px #333 , 2px 2px 2px #333;
}
.sp-badge.badge-bluegrey:after {
height:15px;
width:15px;
font-size:12px;
content: attr(data-badge);
border-radius:50%;
position:absolute;
right:0;
top:0;
background:#60768b;
padding:0.2em;
color:#fff;
text-align:center;
line-height:13px;
overflow:hidden;
text-shadow:1px 1px 2px #333 , 2px 2px 2px #333;
}
.sp-badge.badge-nocolor:after {
height:15px;
width:15px;
font-size:12px;
content: attr(data-badge);
border-radius:50%;
position:absolute;
right:0;
top:0;
background:transparent;
padding:0.2em;
color:#000;
text-align:center;
line-height:13px;
overflow:hidden;
}